.content-header {
  font-size: 0.95em;  /* fine */
  font-weight: bold;
  padding: 0 0.1em 0.2em 0.1em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #eee;
}

.content-footer {
  clear:both;
  font-size: 0.95em; /* fine */
  font-weight: bold;
  padding: 0.2em 0.1em 0 0.1em;
  margin-top: 1.5em;
  border-top: 1px solid #eee;
}

/* Markup specific settings
-------------------------------------------------------------- */

.markup        { margin: 0 0 1.5em; }
.markup p      { line-height: 1.5; margin-bottom: 1em; clear:left; } 
.markup p code { background: #eee; padding: 1px; border: 1px dashed #666; } 
.markup p img  { float: left; margin: 0.3em 1.5em 1.5em 0; padding: 1px; border:1px solid #ccc; } 
.markup h2,
.markup h3,    
.markup h4,
.markup h5,
.markup h6     { clear:left; margin-bottom:0.3em; }
.markup h1,
.markup h2     { color:#444; padding-top: 0.25em; }
.markup li     { margin-bottom:0.1em; }
.markup table td, 
.markup table th { vertical-align: middle; }
.markup table  { border: 1px solid #bbb; padding: 1px; }
.markup pre    { overflow:auto; } 

.markup-preview {
  width: 740px; height: 300px;
  overflow: auto;
  border: 1px solid #999;
  background: #f3f3f3 url(../../images/preview.png) center center;
  padding: 0.5em; margin:0.5em 0;
}
.markup-preview pre     { background-color: transparent; border: none; }

.markup-editor textarea { height: 300px; width: 742px; font-family: monospace; }

.markup-links,
form.plus_form fieldset div.markup-links { text-align: right; clear: left; float:none; }


/* Internal navigation
-------------------------------------------------------------- */

.filter-selection { 
  padding: 0.5em 1em;
  margin-bottom:1em;
  background-color: #f6f6f9;
  border: 1px solid #ccc;
}
.filter-selection dl { 
  overflow: auto;
  margin: .5em 100px .5em 0; 
  clear: left; 
}
.filter-selection dl dt { width:100px; float: left; }
.filter-selection dl dd { margin-left: 110px; }
.filter-selection dd a         { padding: 1px; }    
.filter-selection dd a.active  { color: #000; }    
.filter-selection dd img       { vertical-align: middle; }
.filter-selection dd .option   { margin-right: 1.1em; float: left; }
.filter-selection input.text   { margin: 0; font-size: 0.9em; padding: 1px 3px; }
    

/* Tooltip
-------------------------------------------------------------- */

.tooltip { position: absolute !important; overflow:hidden; z-index: 10000 !important; }

/* Sortable ULs
-------------------------------------------------------------- */

ul.sortable,
ul.non-sortable,
ul.no-bullets { list-style: none; margin-left: 0; }

ul.sortable li,
ul.non-sortable li,
ul.no-bullets li { padding-bottom:2px; padding-top:1px; }

ul.sortable,
ul.non-sortable { border-top: 1px solid #ddd; } 

ul.sortable li,
ul.non-sortable li { padding-left: 18px; border-bottom: 1px solid #ddd;  }  
 
ul.sortable li { background: url(../../images/sortable.png) no-repeat center left; }
ul.sortable li,
ul.sortable li * { cursor: pointer; }

/* Action links
-------------------------------------------------------------- */

.actions a,
.actions span.inactive { 
  border: 1px solid #aaa; color: #888; 
  background: #f3f3f3 url(../../images/menu_item.png) repeat-x; 
  padding: 1px 8px; font-size: 0.9em; font-weight: bold; }
.actions span.inactive { background: #f3f3f3; color: #ccc; cursor: pointer;}
.actions a:hover       { background: transparent; color: #333; border-color: #999; }
td.actions { padding-bottom: 6px; }

.actions.smaller a,
.actions.smaller span.inactive { padding: 0 4px; }

/* In-Place editing
-------------------------------------------------------------- */

h1 .inplaceeditor-form { display: inline; font-size: 0.5em; }
h2 .inplaceeditor-form { display: inline; font-size: 0.7em; }
h3 .inplaceeditor-form { display: inline; font-size: 0.9em; }
.inplaceeditor-form .editor_cancel { margin-left: 0.25em; }

  