<% @page_title = _('Setup') -%>
<%= render :partial => '/admin/shared/index_header' %>

<div class="righted bottom-5">
  <%= @sections.map do |section| 
        link_to h(section.label), "##{section.name}_section"
      end.join(' | ') -%>
</div>

<% plus_form_for :setup, :url => admin_setup_path, :html => { :method => :put } do |f| -%>
  <%= error_messages_for :configuration, :header_message => _('Configuration could not be saved') %>
  <%= render :partial => 'section', :collection => @sections, :locals => {:f => f} %>
<% end -%>
