<% slim_page -%>

<hr class="space" />
<h1><%=_ "The page you were looking for doesn't exist." %></h1>
<p><%=_ "You may have mistyped the address or the page may have moved." %><br/><%= link_to _('Home') + ' &raquo;', root_path %></p>
