<% slim_page -%>
<hr class="space" />

<h1><%=_ "The change you wanted was rejected." %></h1>
<p><%=_ "Maybe you tried to change something you didn't have access to." %><br/><%= link_to _('Home') + ' &raquo;', root_path %></p>
