<% slim_page -%>
<hr class="space" />

<h1><%=_ "We're sorry, but something went wrong." %></h1>
<p><%=_ "We've been notified about this issue and we'll take a look at it shortly." %><br/><%= link_to _('Home') + ' &raquo;', root_path %></p>
