<% @page_title = _('Browse source') -%>

<div class="repository-browser">
  <div class="box">
    <h2><%=_ 'Repository Unavailable' %></h2>
    <p><%=_ 'The repository is currently unavailable, please try it again later.' %></p>  
  </div>

  <%= top_link %>  
</div>
