<% @page_title = _('Stories') -%>
<% slim_page -%>

<div class="box clearfix">
  <div class="float-r">
    <%= link_to _('Edit'), edit_story_path(@story) %> |
    <%= link_to _('Back'), stories_path %>
  </div>
  
  <div class="agile-pm">
    <%= render :partial => 'full' %>
  </div>
</div>
