<% @page_title = _('Blog') -%>
<% include_blog_stylesheet -%>
<% slim_page -%>

<div class="retro-blog"> 

  <div class="span-17 append-1">
  
    <% @posts.each do |post| -%>
      <%= render :partial => 'post', :locals => { :post => post, :preview => true } %>
    <% end if @posts.any? -%>

    <% if @posts.empty? -%>
      <h3><%=_ 'There are no posts available' %></h3>
    <% end -%>

    <% content_footer('righted') do -%>
      <%= will_paginate(@posts) %>
    <% end if @posts.total_pages > 1 -%>

  </div>

  <div class="span-6 last">
    <%= render :partial => 'navigation' %>
  </div>

</div>
