<% if flash[:error] -%>
  <div class="content error"><%= [flash[:error]].flatten.join('<br/>') %></div>
  <% flash.delete(:error) -%>
<% end -%>
<% if flash[:notice] -%>
  <div class="content notice"><%= [flash[:notice]].flatten.join('<br/>') %></div>
  <% flash.delete(:notice) -%>
<% end -%>
<% if flash[:warning] -%>
  <div class="content warning"><%= [flash[:warning]].flatten.join('<br/>') %></div>
  <% flash.delete(:warning) -%>
<% end -%>
  