<div id="footer">
  <div id="right-side">
    Powered by <%= link_to image_tag('logo_small.png', :alt => 'retrospectiva'), 'http://retrospectiva.org', :popup => true %>
  </div>
  <div id="left-side">
    <%= left_side_footer %>
  </div>  
</div>
<%= render :partial => 'layouts/bottom' %>
